
<section class="container home-section">
  <h2 class="home-title">ESTÁ PRONTO PARA SER RECONHECIDO?<br/>VENHA PARA SER O MELHOR! </h2>
  <div class="btn-group">
    <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-default dropdown-toggle">Cadastre-se </button>
    <ul role="menu" class="dropdown-menu">
      <li><a href="/login-olheiro" target="_blank">Sou Olheiro</a></li>
      <li><a href="/login-jogador" target="_blank">Sou Jogador</a></li>
    </ul>
  </div>
</section>