doctype html
html(lang="pt-BR")
  include ./partials/head.jade
  body
    include ./partials/header.jade
    include ./partials/home-section.jade
    include ./partials/team-section.jade
    footer(class="footer")
  script(type="text/javascript", src="js/jquery-1.11.2.min.js")
  script(type="text/javascript", src="js/bootstrap.js")
  script(type="text/javascript", src="js/bundle.js")