header
  nav(class="navbar navbar-default navbar-static-top")
    div(class="container text-center")
      div(class="navbar-header")
        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
          span(class="sr-only") Toggle navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class="brand-responsive" href="index.html") Peneira


      div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
        a( href="/" class="brand") Peneira
        ul(class="nav navbar-nav navbar-right")
          li(class="dropdown")
            a(href="/login.html" class="dropdown-toggle btn-access" data-toggle="dropdown" role="button" aria-expanded="false") Acessar 
              span(class="caret")
            ul(class="dropdown-menu" role="menu")
              li
                a(href="/login.html") Olheiro
              li
                a(href="/login.html") Jogador