section(class="container home-section")
  h2(class="home-title") ESTÁ PRONTO PARA SER RECONHECIDO?
    br
    | VENHA PARA SER O MELHOR! 
  div(class="btn-group")
    button(type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false") Cadastre-se 
    ul(class="dropdown-menu" role="menu")
      li
        a(href="/login-olheiro", target="_blank") Sou Olheiro
      li
        a(href="/login-jogador", target="_blank") Sou Jogador